html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
	font-size: 14px;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover,
a:active,
a:focus {
	color: inherit;
	text-decoration: inherit;
}

.link {
	color: #0056b3;
	position: relative;
	white-space: nowrap;
}

.link:hover {
	color: #0056b3;
	text-decoration: none;
}

.link:after {
	background-color: #0056b3;
	content: '';
	height: 1px;
	left: 50%;
	position: absolute;
	top: 100%;
	transition: all .15s ease-out;
	width: 0%;
}

.link:hover:after {
	left: 0%;
	width: 100%;
}

@media (min-width: 1600px) {
	.col-xxl-4 {
		flex: 0 0 33.333337%;
		max-width: 33.333337%;
	}

	.col-xxl-8 {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
}

.bg {
	background-color: #eee;
}

.shadow {
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.alt-text {
	color: #ccc;
	text-align: center;
	text-decoration-style: dotted;
	text-decoration: underline;
}

.upper {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0;
}
.h1 { font-size: 2rem }
.h2 { font-size: 1.8rem }
.h3 { font-size: 1.6rem }
.h4 { font-size: 1.4rem }
.h5 { font-size: 1.2rem }
.h6 { font-size: .9rem }


.padding { padding: 15px }

.section {
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	display: block;
	min-height: 30px;
	overflow: hidden;
	position: relative;
}

.section:not(:last-child) {
	margin-bottom: 25px;
}

.section--margin {
	/*margin-bottom: 25px;*/
}

.section--rounded {
	border-radius: 2px;
}

.section__heading {
	border-bottom: 1px solid #eee;
	color: #999;
	font-size: 1.2rem;
	padding: 10px;
	/*text-shadow: 0 0 1px rgba(0,0,0,.3);*/
}

.section__heading:not(:first-child) {
	border-top: 1px solid #eee;
}

.aboutme {
	padding-bottom: 25px;
	padding-top: 45px;
}

.test {
	background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0));
	bottom: 0;
	color: #fff;
	left: 0;
	padding-top: 15px;
	position: absolute;
	right: 0;
}

.grid-table {
	padding: 10px;
}

.grid-row {
	margin: 5px;
}

.grid-row > div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.gray {
	color: #999;
}

.news-item {
	display: inline-block;
	margin-left: 25px;
	max-width: 90%;
	min-width: 260px;
	overflow: visible;
	padding: 5px;
	position: relative;
	width: 100%;
}

.news-item:after,
.news-item:before {
	border: 10px solid transparent;
	border-right-color: #fff;
	content: '';
	height: 0;
	margin-top: -10px;
	position: absolute;
	right: 100%;
	top: 50%;
	width: 0;
}

.news-item:before {
	border-right-color: #aaa;
	margin-left: -1px;
}

@media (min-width: 1140px) {
	.news-item {
		width: 60%;
	}
	.news-item__img {
		max-width: 50%;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.news-item__img {
		max-width: 50%;
	}
}

.news-item > div > div {
	margin: 5px;
}

@media (min-width: 768px) {
	.news-item__img > img {
		filter: grayscale(100%);
		opacity: .5;
		transition: all .15s ease-out;
	}

	.news-item:hover .news-item__img > img {
		filter: grayscale(0%);
		opacity: 1;
	}
}

.timeline {
	overflow: hidden;
	position: relative;
}

.timeline:before {
	background-color: #fff;
	border-radius: 100px;
	bottom: 0;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 7px;
	z-index: 1;
}

.timeline-date {
	color: #999;
	margin: 50px 0 10px 25px;
}

.timeline-date:first-of-type {
	margin-top: 0;
}

/*
.timeline:after {
	background-color: #09f;
	bottom: 70%;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	width: 9px;
	z-index: 2;
}
*/

.btn-group { padding: 5px }
.btn-group .btn { margin: 10px }
.btn {
	width: auto;
	font-size: 1rem;
	padding: 5px;
	text-align: center;
	background-color: #09d;
	border-radius: 3px;
	border: 1px solid #08c;
	color: #fff;
}
.btn:hover,
.btn:focus,
.btn:active {
	color: #fff;
}

/* Modal window with black opacity background
 *
 * Example:
 * <div id="some-id" class="modal">
 *   <a href="#" class="modal-bg"></a>
 *   <div class="modal-window">
 *     <a href="#" class="modal-close">&times;</a>
 *     Some content...
 *   </div>
 * </div>
 */
.modal,
.modal-window {
	display: none;
}

.modal:target {
	position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
	-ms-align-items: center;
	align-items: center;
	background-color: rgba(0,0,0,.7);
	display: flex;
	margin-top: 0;
	height: 100vh;
	justify-content: center;
	width: 100vw;
	z-index: 10;
}

.modal-bg {
	height: 100vh;
	position: fixed;
	top: 0px; left: 0; right: 0; bottom: 0;
	width: 100vw;
	z-index: 10;
}

.modal-close {
	font-size: 30px;
	line-height: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #ccc;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.modal:target .modal-window,
.modal-window:target {
	display: block;
	background-color: #fff;
	border-radius: 3px;
	max-width: 90%;
	min-height: 30px;
	min-width: 300px;
	width: 600px;
	position: relative;
	z-index: 10;
}

.modal-window--flat {
	box-shadow: 0px 0px 40px #cdcbcb;
	border-radius: 10px;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	box-shadow: 0px 0px 40px #cdcbcb;
	transition: box-shadow .15s ease-out;
}

.moved {
	position: fixed !important;
	top: 0;
	left: 0;
}

.drag {
	box-shadow: 0px 0px 40px #cdcbcb, 0 2px 20px 5px #bdbbbb;
}

.drag-area {
	cursor: move;
}

/* Modal draggable window
 *
 */
