html,
body {
	height: 100%;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
}

a {
	color: inherit;
	text-decoration: inherit;
}

.link {
	color: #0056b3;
	position: relative;
}

.link:hover { text-decoration: none }

.link:before,
.link:after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0%;
	height: 1px;
	background-color: #0056b3;
	transition: width .15s ease-out;
}

.link:before { right: 50% }
.link:after  { left:  50% }
.link:hover:before,
.link:hover:after { width: 50% }

.bg {
	background-color: #eee;
}

.shadow {
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.alt-text {
	text-align: center;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #ccc;
}

.upper {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0;
}
.h1 { font-size: 2rem }
.h2 { font-size: 1.8rem }
.h3 { font-size: 1.6rem }
.h4 { font-size: 1.4rem }
.h5 { font-size: 1.2rem }
.h6 { font-size: .9rem }


.padding { padding: 15px }

.section {
	background-color: #fff;
	display: block;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	position: relative;
	min-height: 30px;
	overflow: hidden;
}

.section:not(:last-child) {
	margin-bottom: 25px;
}

.section--margin {
	/*margin-bottom: 25px;*/
}

.section--rounded {
	border-radius: 2px;
}

.section__heading {
	border-bottom: 1px solid #eee;
	padding: 10px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #999;
	/*text-shadow: 0 0 1px rgba(0,0,0,.3);*/
}

.section__heading:not(:first-child) {
	border-top: 1px solid #eee;
}

.aboutme {
	padding-top: 45px;
	padding-bottom: 25px;
}

.test {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding-top: 15px;
	background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0));
}

.grid-table {
	padding: 10px 15px;
}

.grid-row {
	padding: 5px 0;
}

.gray {
	color: #999;
}